<div id="admin">
    <div class="sidebar">
        <div class="sidebar_avatar">
            <i class="fa-solid fa-user"></i>
            <h1>Admin</h1>
        </div>
        <div class="sidebar_item">
            <a href="/admin" class="sidebar_item-link active">
                <i class="fa fa-th-large"></i>
                Products</a>
            <a href="/adminCustomer" class="sidebar_item-link">
                <iclass="fa-regular fa-file-lines"></i>
                    Customers</a>
            <a href="/adminOrder" class="sidebar_item-link" style="background: #ffffff; color: rgb(0, 0, 0);">
                <iclass="fa-solid fa-address-book"></i>
                    Orders</a>
        </div>
        <div class="sidebar_item">
            <a href="/" class="sidebar_item-link"><i class="fa-solid fa-right-from-bracket"></i>Log out</a>
        </div>
    </div>
    <section class="content active" id="admin_product">
        <table>
            <tr>
                <th>Order</th>
                <th>Total amount</th>
                <th>Customer</th>
                <th>Phone number</th>
                <th>Address</th>
                <th>Confirm</th>
            </tr>
            {{#each users}}
            <tr>
                <td>
                    <table style=" width:fit-content; height: fit-content;">
                        <tr style=" width:fit-content; height: fit-content;"
                            style=" width:fit-content; height: fit-content;">
                            <th>Name</th>
                            <th>Size</th>
                            <th>Quantity</th>
                        </tr>
                        {{#each this.Order}}
                        <tr style=" width:fit-content; height: fit-content;">
                            <td>{{this.name}}</td>
                            <td>{{this.size}}</td>
                            <td>{{this.quantity}}</td>
                        </tr>
                        {{/each}}
                    </table>
                </td>
                <td>{{convertToString (totalMoney this.Order)}}VND</td>
                <td>{{this.name}}</td>
                <td>{{this.phoneNumber}}</td>
                <td>{{this.address}}</td>
                <td>
                    <i class="fa-solid fa-check fa-2xl"></i>
                </td>
            </tr>
            {{/each}}
        </table>
    </section>
</div>
<script>
    document.querySelector('header').style.display = 'none';
    document.querySelector('.topbar').style.display = 'none';
    document.querySelector('footer').style.display = 'none';
</script>